[MASTER]

init-hook='import sys; sys.path.append("./app/src/")'

[BASIC]

good-names=
    __actual_i_TCP_force,
    __TCP_speed_actual,
    __TCP_force,
    __TCP_speed_target,
    TCP_speed_target,
    set_TCP_speed_target,
    ClearError,
    MoveJog,
    MovJ,
    EnableRobot,
    DisableRobot,
    GetErrorID,
    X, Y, Z,
    Rx, Ry, Rz
