[MASTER]

init-hook='import sys; sys.path.append("./app/src/")'

[BASIC]

good-names=
    __actual_i_TCP_force,
    __TCP_speed_actual,
    __TCP_force,
    __TCP_speed_target,
    __TCP_speed_ref,
    TCP_speed_target,
    set_TCP_speed_target,
    ClearError,
    MoveJog,
    MovJ,
    MovL,
    JointMovJ,
    EnableRobot,
    DisableRobot,
    GetErrorID,
    ResetRobot,
    SpeedFactor,
    AccJ,
    AccL,
    SpeedJ,
    SpeedL,
    X, Y, Z,
    Rx, Ry, Rz

[FORMAT]
max-line-length=88